
/**
 * @file
 * Admin page(s) styles.
 */

.ajax-progress-throbber .throbber {
	margin: -2px;
	display: none;
}

#refresh-btn {
  width: 100px;
}

#refresh-error {
	display: none;
	color: #ff0000;
	font-size: 11px;
	margin: -5px 0px 0px 10px;
	max-width: 430px;
}